#about{
  margin-top:10px;
  height: 550px;
}

#image{
  margin-top:60px;
  height:200px;
}
#line{
  height: 2px;
  width: 30%;
  background-color:#000000;
}

#line2{
  height: 70px;
}

#backdrop{
	background:#99A1A6;
}
.container-fluid{
	background:#D0CFCF;
	border-bottom:0px;
	
}
.btn, .btn-custom, .navbar-btn{
	background:#ffffff;
}

#home{
	color:#000000;
}
#port{
	color:#000000;
}
#expe{
	color:#000000;
}