#about{
  margin-top:10px;
  height: 550px;
  border:transparent;
}

#image{
  margin-top:60px;
  height:200px;
}
#line{
  height: 2px;
  width: 30%;
  background-color:#000000;
}

#line2{
  height: 70px;
}

#backdrop{
	background:#99A1A6;
}
.container-fluid{
	background:#D0CFCF;
	border-bottom:0px;
}
.navbar-default{
	border:transparent;
}
.btn, .btn-custom, .navbar-btn{
	background:#ffffff;
	padding: 10px 12px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
	margin-right:5px;
}

#home{
	color:#000000;
}
#port{
	color:#000000;
}
#expe{
	color:#000000;
}